{
  "presets": [
    [
      "env",
      {

        "browsers": [
          "last 1 chrome version",
          "last 1 firefox version"
        ],
        "modules": false
      }
    ]
  ],
  "plugins": ["external-helpers"]
}
