.pianoroll
  .pianoroll-viewport
    .pianoroll-page
      .pianoroll-keyboard
      .pianoroll-roll-viewport
        .pianoroll-roll-page
          .pianoroll-roll-keys
          .pianoroll-roll-time
          .pianoroll-notes
      .pianoroll-cursor