div.pianoroll
  div.pianoroll-viewport
    div.pianoroll-page
      div.pianoroll-keyboard
      div.pianoroll-roll-viewport
        div.pianoroll-roll-page
          div.pianoroll-roll-keys
          div.pianoroll-roll-time
          div.pianoroll-notes
      div.pianoroll-cursor