.pianoroll
.pianoroll *
.pianoroll *:before
.pianoroll *:after{
  box-sizing border-box
}
.pianoroll
  width 100%
  height 100%
  position relative
  --zoom-x 1
  --zoom-y 1
  --x-sub 4
  --key-count 127
  --line-width 1px
  --cursor-pos 30
.pianoroll-viewport
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  overflow hidden
  overflow-y scroll

.pianoroll-page
  width 100%
  --key-size calc(var(--zoom-y) * 1px)
  --octave-size calc(var(--key-size) * 12)
  --white-size calc((var(--octave-size) / 7))
  --keyboard-height calc(var(--key-count) * var(--key-size))
  position relative
  min-height 100%
  height var(--keyboard-height)
.pianoroll-cursor
  background-color #c4c6
  pointer-events none
  position absolute
  top calc(var(--cursor-pos) * var(--key-size))
  left 0
  right 0
  height var(--key-size)
.pianoroll-keyboard
  background-color #ccc
  --white1-bg:  repeating-linear-gradient(to top, black, black var(--line-width), transparent 0, transparent var(--octave-size))
  --white-bg:  repeating-linear-gradient(to top, grey, grey var(--line-width), transparent 0, transparent var(--octave-size))
  --black-bg: repeating-linear-gradient(to top, black 0, black var(--key-size), transparent 0, transparent var(--octave-size))
  background-image:
    var(--white1-bg),
      var(--black-bg),
    var(--white-bg),
      var(--black-bg),
    var(--white-bg),
    var(--white-bg),
      var(--black-bg),
    var(--white-bg),
      var(--black-bg),
    var(--white-bg),
      var(--black-bg),
    var(--white-bg)
  background-repeat: no-repeat
  background-position:
    right  0px bottom calc(var(--key-size) * 0),
    right 20px bottom calc(var(--key-size) * 1),
    right  0px bottom calc(var(--key-size) * 5 / 3),
    right 20px bottom calc(var(--key-size) * 3),
    right  0px bottom calc(var(--key-size) * 5 / 3 * 2),
    right  0px bottom calc(var(--key-size) * 5),
    right 20px bottom calc(var(--key-size) * 6),
    right  0px bottom calc(var(--key-size) * (5+7/4)),
    right 20px bottom calc(var(--key-size) * 8),
    right  0px bottom calc(var(--key-size) * (5+7/4*2)),
    right 20px bottom calc(var(--key-size) * 10),
    right  0px bottom calc(var(--key-size) * (5+7/4*3))
  border-right var(--line-width) solid black
  height var(--keyboard-height)
  width 60px
  position relative

.pianoroll-roll-viewport
  position absolute
  top 0
  left 60px
  right 0
  bottom 0
  overflow hidden
  overflow-x scroll
  min-height 100%

.pianoroll-roll-page
  width 300%
  height var(--keyboard-height)
  position relative
.pianoroll-roll-keys
.pianoroll-roll-time
  pointer-events none
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  background-repeat: no-repeat
.pianoroll-roll-keys
  --bg: repeating-linear-gradient(to top, #444 0, #444 var(--key-size), transparent 0, transparent var(--octave-size))
  --sep: repeating-linear-gradient(to top, #444, #444 var(--line-width), transparent 0, transparent var(--octave-size))
  --sep-dark: repeating-linear-gradient(to top, #000, #000 var(--line-width), transparent 0, transparent var(--octave-size))
  background-color #666
  background-image:
    var(--sep-dark),
    var(--sep),
    var(--bg),
    var(--bg),
    var(--bg),
    var(--bg),
    var(--bg)

  background-position:
    left 0px bottom calc(var(--key-size) * 0),
    left 0px bottom calc(var(--key-size) * 5),
    left 0px bottom calc(var(--key-size) * 1),
    left 0px bottom calc(var(--key-size) * 3),
    left 0px bottom calc(var(--key-size) * 6),
    left 0px bottom calc(var(--key-size) * 8),
    left 0px bottom calc(var(--key-size) * 10)
.pianoroll-roll-time
  background-image:
    linear-gradient(to right, #0ff4, #0ff0 8px),
    repeating-linear-gradient(
      to right, #999, #999 var(--line-width), transparent 0, transparent calc(var(--zoom-x)*var(--x-sub)*1px)),
    repeating-linear-gradient(to right, #777, #777 var(--line-width), transparent 0, transparent calc(var(--zoom-x)*1px))

  background-position:
    left,
    left 0px bottom calc(var(--key-size) * 0),
    left 0px bottom calc(var(--key-size) * 0)

.pianoroll-notes
  position absolute
  top 0
  left 0
  div
    position absolute
    top calc(var(--pos-y) * var(--key-size))
    left calc(var(--pos-x) * var(--zoom-x)*1px)
    width calc(var(--zoom-x)*1px)
    height var(--key-size)
    background-color orangered
    border 1px solid black